<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="singleTool" class="net.sjl.spring.simple.bean.SingletonToolFactoryBean">
        <property name="factoryId" value="s1"/>
        <property name="toolId" value="t1"/>
    </bean>

</beans>